<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arriving</title>
</head>
<body>
<form th:method="POST" th:action="@{/parking}" th:object="${car}">
    <label for="carNameplate">Enter nameplate: </label>
    <input type="text" th:field="*{carNameplate}" id="carNameplate"/>
    <div style="color:red" th:if="${#fields.hasErrors('carNameplate')}" th:errors="*{carNameplate}">Name error</div>
    <br/>
    <input type="submit" value="Welcome!"/>
</form>
<br/>
<br/>
<a href="/parking/menu">
    <input type="button" value="Get back to menu"/>
</a>
</body>
</html>